{%- comment -%}theme-check-disable RemoteAsset{%- endcomment -%}
<div
  id="brauz-find-in-store-config-product-page"
  data-sd="{{ shop.permanent_domain }}"
  data-cvi="{{ product.first_available_variant.id }}"
  data-hodv="{{ product.has_only_default_variant }}"
  style="display: none; width: 0"
></div>
<div id="brauz-find-in-store-product-page"></div>
<script
  src="{{ settings.brauz_script_url }}"
  async
></script>
{%- comment -%}theme-check-enable RemoteAsset{%- endcomment -%}
